@media (min-width: 980px) {
    .content {
        grid-template-columns: 1fr 960px 1fr;
    }
    .information {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 60px;
        grid-template-areas: "photo characteristic" "download download";
    }
    .header {
        grid-template-columns: 180px 1fr 120px 120px 120px 120px 60px;
        grid-template-areas: "main space education certificates hobbies contact lang";
    }
    .menu {
        display: none;
    }
    .sidenav {
        display: none;
    }
    .space {
        grid-area: space;
    }
    .lang {
        grid-area: lang;
    }
    .contact {
        grid-area: contact;
    }
    .hobbies {
        grid-area: hobbies;
    }
    .certificates {
        grid-area: certificates;
    }
    .education {
        grid-area: education;
    }
}
